/*
 *	WebFont Package Licensed to Megan Mkrtchyan
 */
@font-face {
   font-family: "Nagel";
   src: url("nagel-font-family/Nagel_Regular.woff") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
/* Redaction Regular */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction Italic */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction Bold */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 10 Regular */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 10 Regular Italic */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 10 Bold */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 100 Regular */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 100 Regular Italic */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 100 Bold */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 20 Regular */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 20 Regular Italic */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 20 Bold */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 35 Regular */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 35 Regular Italic */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 35 Bold */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 50 Regular */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 50 Regular Italic */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 50 Bold */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 70 Regular */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 70 Regular Italic */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 70 Bold */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
h1 {
   margin-top: 0; /* Adjust as needed */
   margin-bottom: 0; /* Adjust as needed */
   margin-left: 0;
   margin-right: 0;
}
.line {
   width: 92%;
   text-align: right;
   margin-right: 5px;
   border: none;
   border-radius: 15px;
   margin-top: -30px;
   border-top: 4px solid #4357ad;
   transition: width 0.3s ease;
}
.line.active {
   width: 50%;
}

/* Menu Styling*/

.nav div {
   height: 4px;
   background-color: #4357ad;
   margin: 5px 0;
   border-radius: 25px;
   transition: 0.3s;
}
.nav {
   border-radius: 5px;
   padding: 10px 20px;
   width: 30px;
   display: block;
   margin: 1em 0 0 1em;
}

/* Nav Animation */
.one {
   width: 30px;
}
.two {
   width: 20px;
}
.three {
   width: 25px;
}
.nav:hover div {
   width: 30px;
}
.nav:hover {
   color: white;
   background-color: #d0b4de;
}

/* off-screen-menu */
.off-screen-menu {
   font-family: "Nagel";
   width: 100%;
   height: 80px; /* Adjust height to fit the items */
   position: fixed;
   top: 0; /* Fixed at top, no slide */
   left: 100px;
   display: flex;
   align-items: center;
   justify-content: left;
   text-align: center;
   font-size: 1.5rem; /* Adjust font size as desired */
   opacity: 0; /* Initially hidden */
   /*transform: translateY(-20px); /* Slight upward offset */
   transition: opacity 0.5s ease, transform 0.3s ease;
   z-index: 10; /* Ensure it stays on top */
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.off-screen-menu.active li:nth-child(1) {
   animation-delay: 0.1s;
}
.off-screen-menu.active li:nth-child(2) {
   animation-delay: 0.2s;
}
.off-screen-menu.active li:nth-child(3) {
   animation-delay: 0.3s;
}
/* Align items in a row */
.off-screen-menu ul {
   list-style: none;
   display: flex;
   gap: 40px; /* Space between items */
   padding: 40px;
   margin: 0;
}

/* Style each menu item */
.off-screen-menu li {
   border-radius: 5px;
   padding: 10px 20px;
   color: #4357ad;
   cursor: pointer;
   animation: fadeIn 0.5s forwards;
}

.off-screen-menu li:hover {
   color: white;
   background-color: #d0b4de; /* Change color on hover */
}

/* Fade in the menu when active */
.off-screen-menu.active {
   opacity: 1; /* Fully visible */
   transform: translateY(0); /* Remove upward offset */
}

/* Glitch Effect */
/* .main-text-shadow {
   text-shadow: rgb(18, 32, 122) 10px 10px 0;
}
.glitch-effect {
   position: relative;
   margin: 0 auto;
   position: relative;
   animation: opacity 2s infinite linear;
   text-shadow: rgb(18, 32, 122) 10px 10px 0;
}
.glitch-effect:before {
   content: attr(data-text);
   position: absolute;
   left: -2px;
   text-shadow: 1px 0 blue;
   top: 0;
   color: white;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: glitch-anim-first 3s infinite linear alternate-reverse;
}
.glitch-effect:after {
   content: attr(data-text);
   position: absolute;
   left: 2px;
   text-shadow: -1px 0 red;
   top: 0;
   color: white;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: glitch-anim-second 2s infinite linear alternate-reverse;
}
@keyframes glitch-anim-second {
   0% {
      clip: rect(57px, 9999px, 56px, 0);
   }
   5% {
      clip: rect(54px, 9999px, 88px, 0);
   }
   10% {
      clip: rect(40px, 9999px, 46px, 0);
   }
   15.0% {
      clip: rect(62px, 9999px, 60px, 0);
   }
   20% {
      clip: rect(39px, 9999px, 67px, 0);
   }
   25% {
      clip: rect(35px, 9999px, 37px, 0);
   }
   30.0% {
      clip: rect(2px, 9999px, 39px, 0);
   }
   35% {
      clip: rect(34px, 9999px, 56px, 0);
   }
   40% {
      clip: rect(22px, 9999px, 86px, 0);
   }
   45% {
      clip: rect(37px, 9999px, 28px, 0);
   }
   50% {
      clip: rect(75px, 9999px, 23px, 0);
   }
   55.0% {
      clip: rect(51px, 9999px, 93px, 0);
   }
   60.0% {
      clip: rect(60px, 9999px, 82px, 0);
   }
   65% {
      clip: rect(5px, 9999px, 42px, 0);
   }
   70% {
      clip: rect(91px, 9999px, 53px, 0);
   }
   75% {
      clip: rect(89px, 9999px, 77px, 0);
   }
   80% {
      clip: rect(50px, 9999px, 84px, 0);
   }
   85.0% {
      clip: rect(9px, 9999px, 26px, 0);
   }
   90% {
      clip: rect(61px, 9999px, 48px, 0);
   }
   95% {
      clip: rect(36px, 9999px, 6px, 0);
   }
   100% {
      clip: rect(43px, 9999px, 2px, 0);
   }
}
@keyframes glitch-anim-first {
   0% {
      clip: rect(50px, 9999px, 21px, 0);
   }
   5% {
      clip: rect(17px, 9999px, 52px, 0);
   }
   10% {
      clip: rect(25px, 9999px, 4px, 0);
   }
   15.0% {
      clip: rect(11px, 9999px, 47px, 0);
   }
   20% {
      clip: rect(75px, 9999px, 16px, 0);
   }
   25% {
      clip: rect(63px, 9999px, 88px, 0);
   }
   30.0% {
      clip: rect(71px, 9999px, 17px, 0);
   }
   35% {
      clip: rect(73px, 9999px, 99px, 0);
   }
   40% {
      clip: rect(98px, 9999px, 61px, 0);
   }
   45% {
      clip: rect(75px, 9999px, 59px, 0);
   }
   50% {
      clip: rect(32px, 9999px, 91px, 0);
   }
   55.0% {
      clip: rect(98px, 9999px, 78px, 0);
   }
   60.0% {
      clip: rect(11px, 9999px, 32px, 0);
   }
   65% {
      clip: rect(18px, 9999px, 36px, 0);
   }
   70% {
      clip: rect(72px, 9999px, 46px, 0);
   }
   75% {
      clip: rect(81px, 9999px, 26px, 0);
   }
   80% {
      clip: rect(2px, 9999px, 49px, 0);
   }
   85.0% {
      clip: rect(72px, 9999px, 47px, 0);
   }
   90% {
      clip: rect(63px, 9999px, 24px, 0);
   }
   95% {
      clip: rect(44px, 9999px, 7px, 0);
   }
   100% {
      clip: rect(89px, 9999px, 65px, 0);
   }
} */

/* Different Glitch Effect */
.glitch {
   position: relative;
   text-shadow: rgb(18, 32, 122) 10px 10px 0;
}
.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}
.glitch:before {
   animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #0ff;
   z-index: -1;
}
.glitch:after {
   animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #ff00ff;
   z-index: -2;
}
@keyframes glitch-color {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-3px, 3px);
   }

   40% {
      transform: translate(-3px, -3px);
   }

   60% {
      transform: translate(3px, 3px);
   }

   80% {
      transform: translate(3px, -3px);
   }

   to {
      transform: translate(0);
   }
}
