/*
 *	WebFont Package Licensed to Megan Mkrtchyan
 */

/* Redaction Regular */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction Italic */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction Bold */
@font-face {
   font-family: "Redaction";
   src: url("woff2/Redaction-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 10 Regular */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 10 Regular Italic */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 10 Bold */
@font-face {
   font-family: "Redaction 10";
   src: url("woff2/Redaction10-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 100 Regular */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 100 Regular Italic */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 100 Bold */
@font-face {
   font-family: "Redaction 100";
   src: url("woff2/Redaction100-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 20 Regular */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 20 Regular Italic */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 20 Bold */
@font-face {
   font-family: "Redaction 20";
   src: url("woff2/Redaction20-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 35 Regular */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 35 Regular Italic */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 35 Bold */
@font-face {
   font-family: "Redaction 35";
   src: url("woff2/Redaction35-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 50 Regular */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 50 Regular Italic */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 50 Bold */
@font-face {
   font-family: "Redaction 50";
   src: url("woff2/Redaction50-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

/* Redaction 70 Regular */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Redaction 70 Regular Italic */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Italic.woff2") format("woff2");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}

/* Redaction 70 Bold */
@font-face {
   font-family: "Redaction 70";
   src: url("woff2/Redaction70-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
h1,
h2,
h3,
h5,
h6 {
   margin-top: 0; /* Adjust as needed */
   margin-bottom: 0; /* Adjust as needed */
}
.wrapper {
   width: 100%;
   height: 100vh;
   text-align: justify;
}
h4 {
   font-weight: 100;
   font-size: 28px;
   margin: 0;
   padding: 8em 0 1em 0;
}
.btn_one {
   text-decoration: none;
   color: #4357ad;
   font-weight: 100;
   border: 1px #fbbc05 solid;
   padding: 1em 3em;
   border-radius: 100px;
}

.nav div {
   height: 4px;
   background-color: #4357ad;
   margin: 5px 0;
   border-radius: 25px;
   transition: 0.3s;
}
.nav {
   width: 30px;
   display: block;
   margin: 1em 0 0 1em;
}
.one {
   width: 30px;
}
.two {
   width: 20px;
}
.three {
   width: 25px;
}

.nav:hover div {
   width: 30px;
}
.main-text-shadow {
   text-shadow: rgb(18, 32, 122) 10px 10px 0;
}
